
@{
    ViewBag.Title = "IngresarCliente";
}
<h1>Cliente</h1>
<div class="container-fluid">
    <form method="post">
        <div class="row">
            <div class="col-lg-4">
                <label>Nombre Completo:</label>
                <input type="text" name="NombreCliente" value="" />
            </div>
            <div class="col-lg-4">
                <label>Saldo del Mes:</label>
                <input type="text" name="SaldoMes" value="" />
            </div>
            <div class="col-lg-4">
                <label>Abono del Mes:</label>
                <input type="text" name="AbonoMes" value="" />
            </div>
            <div>
                <button type="submit" class="btn">Registrar</button>
            </div>
        </div>
    </form>

</div>
